# os
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/Thumbs.db

**/wedge_*

# ide
**/*.config
**/.settings/*
**/*.class
**/bin/*
**/.metadata/*
**/.recommenders/*
**/.vscode/*
**/launch.json

# gradle
**/.gradle/*
**/gradle/*
**/gradlew/*
**/gradlew.bat
**/settings.gradle
**/build/*

# project
**/*.html
!zdat/javadoc/**/*

**/*.css
**/*.log
**/*.jtl


