## ban all
*
!*/

!.gitignore
!README.md
## except white list to 
# include (w/ ! prefix):


!/src/**/*.*
!/libs/**/*.*
!/javadoc/**/*.*
!/ex/**/*.*

!**/*.java

!build.gradle
!conf.props


## over ride
**/.DS_Store
**/Thumbs.db


